<% if !@reviews.empty? %>
    <!-- START PRINTING REVIEWS -->
    <% @reviews.each do |review| %>
      <% if review.id %>
        <div class="panel review clearfix">
          <div class="column">
            <!-- Display User  -->
            <div class="row user">
              <%= image_tag review.user.avatar.thumb, class: "profile tiny" %>
              <h5><%= review.user.display_name %></h5>
            </div>
            <!-- Display Body -->
            <div class="row comment">
              <p><%= review.comment %></p>
            </div>
            <!-- Display Edit/Delete Buttons -->
            <% if signed_in? %>
              <% if current_user.id == review.user_id %>
                <%= link_to "Edit Review", edit_review_path(review), class: "button tiny" %>
              <% end %>
              <% if current_user.id == review.user_id || current_user.admin? %>
                <%= link_to "Delete Review", review_path(review), method: :delete,
                    class: "button tiny", id: "delete-review" %>
              <% end %>
            <% end %>
            <hr />
            <%= render partial: "star_votes", locals: {review: review} %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <!-- END PRINTING REVIEWS -->
<% else %>
    <p>Be the first to review this buddy!</p>
<% end %>
