<h3><%= @buddy.title %></h3>
<p><%= @buddy.description %></p>
<p><%= @buddy.url %></p>
<% if signed_in? %>
  <% if current_user.id == @buddy.user_id %>
  <%= link_to "Edit", edit_buddy_path %>
  <%= link_to "Delete", buddy_path(@buddy), method: :delete %>
  <% end %>
<% end %>
