<div class="row">
  <h2><%= @buddy.title %></h2>
  <p><%= @buddy.description %></p>
  <p><%= @buddy.url %></p>
  <% if signed_in? %>
    <% if current_user.id == @buddy.user_id %>
      <%= link_to "Edit", edit_buddy_path %>
    <% end %>
    <% if current_user.id == @buddy.user_id  || current_user.admin?%>
      <%= link_to "Delete", buddy_path(@buddy), method: :delete %>
    <% end %>
  <% end %>
</div>
<hr />
<div class="row">
  <h3>Reviews:</h3>

  <% if signed_in? %>
    <% @buddy.reviews.each do |review| %>
      <div class="panel">
        <% @user = User.all %>
        <div class="rating">
          <h6>Rating:</h6>
          <% review.rating.times do %>
            <div class="star"></div>
          <% end %>
          <% (5 - review.rating).times do %>
            <div class="star empty"></div>
          <% end %>
        </div>
        <p><%= @user.find(review.user_id).display_name %>: <%= review.comment %></p>
        <% if current_user.id == review.user_id %>
          <%= link_to "Edit Review", edit_buddy_review_path(@buddy, review) %>
          <%= link_to "Delete Review", buddy_review_path(@buddy, review), method: :delete %>

        <% end %>
      </div>
    <% end %>
  <% elsif %>
    <% @buddy.reviews.each do |review| %>
    <p>
      <% @user = User.all %>
      <%= @user.find(review.user_id).display_name %>: <%= review.comment %>
    </p>

    <% end %>
  <% end %>


  <% if signed_in? %>
    <%= form_for([@buddy, @buddy.reviews.build]) do |f| %>
    <p>
      <%= f.label :comment, "Your Review:" %>
      <%= f.text_area :comment %>
    </p>
    <%= f.label :rating, "Your Rating:" %>
    <%= f.select :rating, [['horrible - 1', 1], ['poor - 2', 2], ['mediocre - 3', 3], ['good - 4', 4], ['great - 5', 5]] %>
    <p>
      <%= f.submit 'Submit Review'%>
    </p>
    <% end %>
  <% end %>
</div>
